doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Tools For Devs Review Monitor
    style.
      /* -------------------------------------
      GLOBAL
      ------------------------------------- */
      * {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 100%;
      line-height: 1.6em;
      margin: 0;
      padding: 0;
      }
      img {
      max-width: 600px;
      width: auto;
      }
      body {
      -webkit-font-smoothing: antialiased;
      height: 100%;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      }
      /* -------------------------------------
      TYPOGRAPHY
      ------------------------------------- */
      h1,
      h2,
      h3 {
      color: #2C3E50;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      line-height: 1.1em;
      margin: 10px 0 10px;
      }
      h1 {
      font-size: 36px;
      }
      h2 {
      font-size: 28px;
      }
      h3 {
      font-size: 22px;
      }
      p,
      ul,
      ol {
      color: #2C3E50;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
      }
      ul li,
      ol li {
      margin-left: 5px;
      list-style-position: inside;
      }
      hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
      }
      /* ---------------------------------------------------
      RESPONSIVENESS
      ------------------------------------------------------ */
      /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
      .container {
      clear: both !important;
      display: block !important;
      Margin: 0 auto !important;
      max-width: 600px !important;
      }
      /* Set the padding on the td rather than the div for Outlook compatibility */
      .body-wrap .container {
      padding: 20px;
      }
      /* This should also be a block element, so that it will fill 100% of the .container */
      .content {
      display: block;
      margin: 0 auto;
      max-width: 600px;
      }
      /* Let's make sure tables in the content area are 100% wide */
      .content table {
      width: 100%;
      }
  // body
  table.body-wrap(style='padding: 20px; width: 100%;')
    tr
      td
      td.container(bgcolor='#FFFFFF', style='clear: both !important; display: block !important; Margin: 0 auto !important; max-width: 620px !important;')
        // content
        .content
          table(style='width: 100%;')
            tr
              td(align='center')
                img(src='#{app.imageUrl}')
                h2(style='color: #2C3E50;font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 400;line-height: 1.1em;margin: 10px 0 10px;') #{title}
                hr.body-wrap
                for review in reviews
                  div(align='left')
                    h2(style='color: #2C3E50;font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 400;line-height: 1.1em;margin: 10px 0 10px;')
                      if review.rate==1
                        span ★
                        span(style='color:#CCCCCC') ★★★★
                      else if review.rate==2
                        span ★★
                        span(style='color:#CCCCCC') ★★★
                      else if review.rate==3
                        span ★★★
                        span(style='color:#CCCCCC') ★★
                      else if review.rate==4
                        span ★★★★
                        span(style='color:#CCCCCC') ★
                      else if review.rate==5
                        span ★★★★★
                    h3(style='color: #2C3E50;font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 400;line-height: 1.1em;margin: 10px 0 10px;') #{review.title}
                    p(style="color: #2C3E50; font-size: 14px; font-weight: normal; margin-bottom: 10px;")
                      | #{review.comment}
                    table(style='width: 100%;')
                      tr
                        td(align='left')
                          p(style='color:gray') by #{review.author} via App Store
                        td(align='right')
                          a(style='color: #348eda; text-decoration:none; font-size: 14px; font-weight: normal; margin-bottom: 10px;' href=serverURL + '/reviews/' + review._id) View on Web
                  hr.body-wrap
        // /content
      td
  // /body
  // footer
  table.footer-wrap(style='clear: both !important; width: 100%;')
    tr
      td.container
        // content
        .content
          table.footer-wrap(style='clear: both !important; width: 100%;')
            tr
              td(align='center') 
                p(style='color: #666666; font-size: 12px;')
                  a(href=serverURL style='color: #348eda; text-decoration:none;')
                    | Tools For Devs
                p(style='color: #666666; font-size: 12px;')
                  | Don't like these notifications? 
                  a(href=unsubscribeURL style='color: #348eda; text-decoration:none;')
                    | Unsubscribe
        // /content
      td
  // /footer